<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title> 헬스형!    by O-Me </title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="/img/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout">
<!-- loader  -->
<div class="loader_bg">
    <div class="loader"><img src="/img/loading.gif" alt="#" /></div>
</div>
<!-- end loader -->
<!-- header -->
<header>
    <!-- header inner -->
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo"> <a href="/"><img src="/img/logo.jpg" alt="#"></a> </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                    <div class="menu-area">
                        <div class="limit-box">
                            <nav class="main-menu">
                                <ul class="menu-area-main">

                                    {{#user}}
                                        <li> <a href="#">{{name}}님 안녕하세요 </a> </li>
                                    {{/user}}

                                    {{#avatar}}
                                        {{#user}}
                                        <li class="active"> <a href="/">Home</a> </li>
                                        <li> <a href="/avatar/create/{{id}}">Character </a> </li>
                                        <li> <a href="/exercise/start">Start </a> </li>
                                        <li> <a href="contact.html">Ranking </a> </li>
                                        <li> <a href="/logout">Logout </a> </li>
                                        {{/user}}
                                    {{/avatar}}

                                    {{^avatar}}
                                        {{#user}}
                                        <li class="active"> <a href="/">Home</a> </li>
                                        <li> <a href="/avatar/create/{{id}}">Character </a> </li>
                                        <li> <a href="contact.html">Ranking </a> </li>
                                        <li> <a href="/logout">Logout </a> </li>
                                        {{/user}}

                                        {{^user}}
                                            <li> <a href="#">로그인을 해주세요 </a> </li>
                                            <li> <a href="/oauth2/authorization/google">Google Login </a> </li>

                                        {{/user}}
                                    {{/avatar}}


                                    <li class="mean-last"> <a href="#"><img src="/img/search_icon.png" alt="#" /></a> </li>
                                    <li class="mean-last"> <a href="#"><img src="/img/top-icon.png" alt="#" /></a> </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header inner -->
</header>
<!-- end header -->