{{>layout/header}}

<section class="slider_section">
    <div id="myCarousel" class="carousel slide banner-main" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" >
                <img class="first-slide" src="/img/banner.jpg" alt="First slide">

                <div class="container">
                    <div class="carousel-caption relative">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>

                        <div style="float:left;">
                        <div class="button_section">

                            {{^user}}  <!-- ^ = 존재하지 않을 시  -->
                                <a class="main_bt" href="/oauth2/authorization/google" role="button">Google
                                    Login</a>
                            {{/user}}

                            {{#user}} <!-- 존재하면 -->
                                <a class="main_bt" href="/logout" role="button">Logout</a>

                                {{#avatar}}
                                    <a class="main_bt" href="/avatar/create/{{user.id}}" role="button">Change Character</a>
                                {{/avatar}}

                            {{/user}}
                            {{#user}}
                                {{^avatar}}
                                    <a class="main_bt" href="/avatar/create/{{user.id}}" role="button">Create Character</a>
                                {{/avatar}}
                            {{/user}}

                        </div>
                        </div>

                    </div>

                </div>


            </div>
        </div>

        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</section>

<!-- footer -->
<footer>

</footer>
<!-- end footer -->


{{>layout/footer}}
