{{>layout/header}}

<section class="slider_section">
    <div id="myCarousel" class="carousel slide banner-main" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background:url('/img/room.jpg') no-repeat;">

                <div class="container">

                    <div class="row">
                        <div class="col-lg-6">
                            <br>
                            <br>
                            <img src="/img/about.jpg" class="img-fluid" alt="">
                        </div>

                        <div class="col-lg-1"></div>

                        <div class="col-lg-4 pt-4 pt-lg-0 content">
                            <br>
                            <br>

                            <h3>Ray's Page는</h3>
                            <p class="font-italic">
                            </p>
                            <br>
                        <tbody id="tbody">
                            {{#quests}}
                            <br>

                            <a href="#">
                                <div class="row">

                                    <div class="icon-box" style="border-radius: 5px;">
                                        <h4><b>{{content}}</b></h4>
                                    </div>
                                    <h3 style="color : red;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{point}}</h3>

                                </div>
                            </a>
                            {{/quests}}
                        </tbody>

                        </div>

                        <div class="col-lg-1"></div>

                        <br>
                        <br>

                    </div>

                </div>

                <br>
                <br>
                <br>
                <br>


            </div>
        </div>

        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</section>

<!-- footer -->
<footer>

</footer>
<!-- end footer -->


{{>layout/footer}}
