{{>layout/header}}


<section class="slider_section">
    <div id="myCarousel" class="carousel slide banner-main" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" >
                <img class="first-slide" src="/img/room.jpg" alt="First slide">

                <div class="container">
                    <div class="carousel-caption relative">
                        <div style="float:center;">
                            <div>
                                <br>
                                <h1 style="color : #ffffff">{{user.name}} 님의
                                    <br>현재 순위는 {{rank}}등 입니다.

                                    <br>
                                </h1>
                            </div>


                        </div>



                    </div>
                </div>


            </div>
        </div>
    </div>

</section>


<!-- footer -->
<footer>

</footer>


{{>layout/footer}}

